body {
    background-color: gainsboro;
    text-align: justify;
}

.mymenu {
    background-color: #CCA51D;
    border-top: solid 2px #7B2D2D;
    border-bottom: solid 2px #7B2D2D;
    font-style: italic;
    text-shadow: 2px 2px #7B2D2D;
}

article {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

h1 {
    font-size: 27pt;
    text-align: center;
    font-style: italic;
    padding-top: 1%;
    padding-bottom: 1%;
}

section {
    border: solid 2px #7B2D2D;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.row {
    margin-top: 1%;
}
